<h2>Per Country</h2>
<hr>
<div class="row">
    <div class="col-sm">
        <form (ngSubmit)="searching()" autocomplete="off">
            <input type="text" [(ngModel)]="search" name="search" class="form-control" placeholder="Search..." />
        </form>
    </div>
</div>
<hr>
<div class="alert alert-danger p-1">Not found</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Flag</th>
                    <th>Name</th>
                    <th>People</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No</td>
                    <td>Flag</td>
                    <td>Name</td>
                    <td>People</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
